GOOGLE_SHEETS_ID=1tvUs2WPksMWVbV10hdVoZ2NLNwTx6Q2R8Bs0sEbkqMg
GOOGLE_SERVICE_ACCOUNT_FILE=integraciones/google_sheets/service_account.json
WS_INVITADOS=Invitados
WS_CABANAS=Hospedaje
WS_PRESUPUESTO=Presupuesto
WS_ASIGNACION=
WS_MESAS=
